.cardBox {
    background-color: rgb(89, 204, 99);

    width: 250px;
    height: 150px;

    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;

    border-radius: 15px;

}

.cardBottom {
    height: 100px;
    display: flex;
}