@import '../../style/Style.scss';

.pokemon-card {
    @include cardBorder();

    display: flex;
    flex-direction: column;

    padding: 30px;
    width: 500px;

    @media (max-width: $max-screen) {
        width: 300px;
    }

    .header {
        display: flex;
        justify-content: space-between;

        @media (max-width: $max-screen) {
            flex-direction: column;
            height: 100px;
        }

        .name {
            font-size: 25px;
            font-weight: bold;
        }

        .props {
            display: flex;
            justify-content: space-around;
        
            height: 40px;
            width: 230px;
        }
    }

    .img-container {
        height: auto;
        
        .img {
            width: 400px;
            height: auto;
        
            margin-left: 50px;

            @media (max-width: $max-screen) {
                width: 250px;
                margin-left: 20px;
            }
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;

        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
        
        @media (max-width: $max-screen) {
            flex-wrap: wrap;
            width: 300px;
            align-self: center;
            margin-bottom: 10px;

            .info {
                margin-right: 30px;
                margin-bottom: 10px;
            }
        }

        .info-title {
            font-weight: bold;
        }
    }
}