@import '../../resources/Colors.scss';

.pokemon {
    background-color: $backgroundColor;
  
    padding-top: 1%;
    padding-left: 24%;
    padding-right: 140px;
    height: 100%;
    padding-bottom: 50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}