.pokemon {
    background-color: #ebebeb;
  
    padding-top: 1%;
    padding-left: 24%;
    padding-right: 140px;
    height: 100%;
    padding-bottom: 50px;
}

.pokemon .main-card {
    display: flex;
    box-shadow: 0px 0px 10px rgb(160, 160, 160);
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.main-card {
    display: flex;
    flex-direction: column;
    
    padding: 30px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
    width: 500px;
}

.main-card .header {
    display: flex;
    justify-content: space-between;
}

.main-card .header .text-id {
    display: flex;
    flex-direction: column;

    height: 100px;
}

.main-card .header .header-props {
    display: flex;
    justify-content: space-around;

    height: 40px;
    width: 200px;
}

.main-card .body .img {
    width: 400px;
    height: auto;

    margin-left: 40px;
}

.main-card .footer {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
}

.main-card .footer .footerText {
    display: flex;
    flex-direction: column;
}

.cards .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 50px;
    width: 500px;

}

.pokemon .cards .description .stats {
    height: 150px;
    border-radius: 15px;
    padding: 30px;

    border-style: solid;
    border-width: 1.5px;
    border-color: black;
    box-shadow: 0px 0px 10px rgb(160, 160, 160);

    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.pokemon .cards .description .stats .one-stat{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.one-stat .status-bar {
    border-radius: 10px;
    margin-top: 8px;
}

.pokemon .cards .description .evolutions {
    border-radius: 15px;
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
    box-shadow: 0px 0px 10px rgb(160, 160, 160);
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pokemon .cards .description .one-evolution {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.pokemon .cards .sprites {
    height: auto;
    width: 1075px;

    border-radius: 15px;
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
    box-shadow: 0px 0px 10px rgb(160, 160, 160);

    padding: 20px;
    margin-top: 50px;

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.sprites-imgs {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
}

.sprite-imgs-img {
    width: 180px;
    height: auto;
}