@import '../../resources/Colors.scss';

.error-page {
    background-color: $backgroundColor;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    min-height: 100vh;

    .snorlax {
        height: 400px;
        margin: 40px;
    }

    .link {
        text-decoration: none;
    }
    
    .pokeflute {
        height: 15px;
    }
}