.card-title {
    color: white;

    width: 100%;
    height: 5px;

    display: flex;
}

.card-title-id {
    margin-left: auto;
}

.card-props-prop {
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;

    width: 60px

}

.card-imgs {
    text-align: right;
    margin-left: 40px;
    margin-top: -10px
}

.card-imgs-img {
    width: 120px;
    height: auto;
}

.card {
    width: 250px;
    height: 150px;

    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;

    border-radius: 15px;

    text-decoration: none;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.253);
}

.card-bottom {
    margin-top: 50px;
    display: flex
}