@import '../../style/Style.scss';

.pokemon {
    background-color: $backgroundColor;
  
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 1%;
    padding-bottom: 50px;

    .cards {
        display: flex;
        flex-direction: column;

        @media (max-width: $max-screen) {
            align-items: center;
        }

        .pokemon-header {
            display: flex;

            @media (max-width: $max-screen) {
                flex-direction: column;
                max-width: 600px;
                align-items: center;
            }
        }

        .card-title {
            font-size: 30px;
            margin-top: 30px;
        }
    }
}