@import '../../style/Style.scss';

.pokemon-card {
    @include cardBorder();

    display: flex;
    flex-direction: column;

    padding: 30px;
    width: 500px;
    .header {
        display: flex;
        justify-content: space-between;

        .props {
            display: flex;
            justify-content: space-around;
        
            height: 40px;
            width: 200px;
        }
    }

    .img {
        width: 400px;
        height: auto;
    
        margin-left: 50px;
    }

    .footer {
        display: flex;
        justify-content: space-between;

        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;

        .text {
            display: flex;
            flex-direction: column;
        }
    }
}