@import '../../style/Style.scss';

.pokemon-description {
    display: grid;
    grid-template-rows: 50px 100px ;

    margin-top: 60px;
    padding-left: 2%;

    .title-game {
        display: flex;
        justify-content: space-evenly;
        
        .title {
            font-weight: 700;
            font-size: 20px;
        }
    }

    .description-text {
        width: 470px;
    }

    .stats {
        @include cardBorder();

        padding: 30px;
        height: 150px;
        width: 470px;
        margin-top: 50px;

        display: grid;
        grid-template-columns: 150px 300px 20px;
        grid-template-rows: repeat(6, 25px);

        .bars {
            align-self: center;

            .bar {
                border-radius: 10px;
                height: 8px;
            }
        }

        .numbers {
            justify-self: end;
        }
    }
}