@import '../../style/Style.scss';

.pokemon-description {
    display: grid;
    grid-template-rows: 50px 100px ;

    margin-top: 60px;
    padding-left: 2%;

    @media (max-width: $max-screen) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-game {
        display: flex;
        justify-content: space-evenly;

        .title {
            font-weight: 700;
            font-size: 20px;
            margin-right: 20px;
        }
    }

    .description-text {
        width: 470px;

        @media (max-width: $max-screen) {
            margin-top: 30px;
            width: 300px;
        }
    }

    .stats {
        @include cardBorder();

        padding: 30px;
        height: 150px;
        width: 470px;
        margin-top: 50px;

        display: grid;
        grid-template-columns: 150px 300px 20px;
        grid-template-rows: repeat(6, 25px);

        @media (max-width: $max-screen) {
            padding: 10px;
            grid-template-columns: 280px 20px;
            grid-template-rows: repeat(12, 30px);
            height: 350px;
            width: 300px;
        }

        .naming {
            @media (max-width: $max-screen) {
                grid-column-start: 1;
                grid-column-end: span 2;
            }
        }

        .bars {
            align-self: center;

            @media (max-width: $max-screen) {
                margin-bottom: 30px;
            }

            .bar {
                border-radius: 10px;
                height: 8px;
            }
        }

        .numbers {
            justify-self: flex-end;

            @media (max-width: $max-screen) {
                align-self: center;
                padding-bottom: 65px;
            }
        }
    }
}