$backgroundColor: rgb(223, 223, 223);

$font: "Consolas", Courier, monospace;

$max-screen: 1200px;

@mixin cardBorder() {
  box-shadow: 0px 0px 10px #a0a0a0;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}