@import '../../style/Style.scss';

.pokemon {
    background-color: $backgroundColor;
  
    padding-top: 1%;
    padding-left: 24%;
    padding-right: 140px;
    height: 100%;
    padding-bottom: 50px;

    .cards {
        display: flex;
        flex-direction: column;

        .header {
            display: flex;
            flex-direction: row;
        }

        .card-title {
            font-size: 30px;
            margin-top: 30px;
        }
    }
}