@import '../../style/Style.scss';

.pokemon-evolutions {
    @include cardBorder();

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 20px;
    margin-top: 50px;
    width: 1070px;

    .evolution {
        color: black;

        display: flex;
        flex-direction: column;
        
        text-decoration: none;

        .title {
            font-weight: 700;
        }

        .img {
            width: 100px;
        }
    }
}