@import '../../style/Style.scss';

.evolutions {
    display: flex;
    flex-direction: column;

    .pokemon-evolutions {
        @include cardBorder();

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        padding: 20px;
        margin-top: 50px;
        width: 1070px;

        .evolution {
            color: black;

            display: flex;
            flex-direction: column;
            align-items: center;

            text-decoration: none;

            border-radius: 10px;
            padding: 10px;

            &:hover {
                transition-delay:0.05s;
                background-color: rgba(255, 255, 255, 0.3);
            }

            .title {
                font-weight: 700;
                font-size: 20px;
            }

            .img {
                width: 150px;
            }

            .props {
                display: flex;
                justify-content: space-around;
            
                height: 40px;
                width: 230px;
            }
        }
    }
}